@import "../../style.scss";

.details {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding: 17px 16px 0 16px;
    background-color: themed("bgSoft");
    flex-direction: column;
    height: 82vh;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
    h1 {
      color: themed("colorSoft");
    }
    .allbtn{
      display: flex;
      font-weight: bold;
      font-size: 15px;
      width: 80%;
      gap: 5px;
      align-items:center ;
      justify-content: flex-end;
      color: themed("tColor");
    }
    .resourceItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      padding: 20px;
      background: themed("bgGrey");
      color: themed("colorSoft");
      border-radius: 5px;
      width: 80%;

      &:last-child {
        margin-bottom: 55px;
      }
      @include tablet {
      }

      @include mobile {
        width: 90%;
        &::-webkit-scrollbar {
          display: none;
        }
      }
      .itemTop {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 10px;
        justify-content: space-between;
        width: 50%;
        .name {
          font-weight: 550;
          font-size: 15px;
          padding-right: 10px;
          color: themed("tColor");
        }
        .remarks{
          color: themed("tColorSoft");
          font-size: 10px;
        }
      }
      .itemBottom {
        display: flex;
        width: 50%;
        justify-content: space-evenly;
        .distance {
          font-weight: 550;
          width: 50%;
          font-size: 13px;
        }
        span {
          font-weight: 550;
          font-size: small;
        }
        button {
          padding: 10px 20px;
          background-color: blue;
          color: white;
          border: none;
          border-radius: 5px;
          font-size: 1.2rem;
          cursor: pointer;
          border-radius: 5px;
        }
      }
    }

    .map {
      height: 100vh;
      width: 100vw;
      top: 0;
      right: 0;
      position: absolute;
      background-color: #030303dd;
      z-index: 999;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      overflow: hidden;

      @include mobile {
        justify-content: start;
        padding-top: 20px;
        gap: 30px;
        width: 100%;
        height: 103vh;
      }

      .close {
        color: #ddd;
        display: flex;
        justify-content: flex-end;
        width: 80vw;

        @include mobile {
          width: 90vw;
        }
      }
      .gmap {
        .google-map {
          height: 80vh;
          width: 80vw;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          position: relative;

          @include mobile {
            width: 100vw;
          }
          .centerBtn {
            position: absolute;
            width: 40px;
            height: 40px;
            bottom: 30px;
            left: 20px;
            border: none;
            cursor: pointer;
            -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.29);
            -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.29);
            box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.29);
          }
          .getDirBtn {
            position: absolute;
            display: flex;
            align-items: center;
            width: 110px;
            height: 40px;
            bottom: 30px;
            font-weight: bold;
            left: 70px;
            border: none;
            cursor: pointer;
            -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.29);
            -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.29);
            box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.29);
          }
          .pin {
            display: flex;
            width: 100px;
            align-items: center;
            color: rgb(104, 14, 86);
            
            p {
              font-weight: bold;
              overflow-wrap: break-word;
            }
          }
        }
      }
    }
    .error{
      display: flex;
      width: 80%;
      justify-content: center;
      align-items: center;
      color: themed("tColor");
    }
  }
}
.reltv{
  position: relative;
}