@import "../../style.scss";

    .class {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      height: 80px;
      font-size: large;
      background: #232122;
      -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.19);
      -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.19);
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.19);
  
      @include tablet {
        width: 80%;
      }
  
      @include mobile {
        height: 10vh;
        width: 100%;
      }

      .left {
        display: flex;
        gap: 10px;
        align-items: flex-end;
        padding: 30px;
        overflow: hidden;
        @include mobile {
          font-size: 10px;
        }
        .name {
          display: flex;
          justify-content: space-between;
          gap: 20px;
          align-items: baseline;

          p {
            
            color: rgb(255, 255, 255);
            font-size: inherit;
            
            &:last-child {
            color: #898989;
            font-size: 10px;
            }
          }
        }
        span {
          padding: 3px;
          color: #898989;
          font-size: 10px;
          &:last-child {
            color: #bcb9b9;
            font-size: 10px;
          }
        }
      }
      .right {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .buttons {
          display: flex;
          flex-direction: column;
          position: absolute;
          justify-content: space-evenly;
          top: 40px;
          right: 30px;
          border-radius: 3px;
          padding: 5px;
          background: rgb(50, 52, 53);

          button {
            background: transparent;
            border-radius: 3px;
            width: 70px;
            padding: 5px;
            border: none;
            color: white;
            cursor: pointer;

            &:last-child {
              color: rgb(252, 5, 5);
            }
          }
        }
      }
    }