@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    &::-webkit-scrollbar {
      display: none;
    }
    font-family: "Poppins", system-ui, sans-serif;
  }
}
@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}

$themes: (
  light: (
    tColor: black,
    bg: white,
    bgInv: #1a0711,
    bg2:#eedde9,
    bg3:#ebd1d1,
    bg4:#53102f,
    bgSoft: #eee4e8,
    bgGrey:#fcfcfc,
    bgTrans:#360913b8,
    colorSoft: #555555,
    border: #d3d3d3,
    btn:#761a51,
    btn2:#761a51,
    btn3:#ca1919,
  ),
  dark: (
    tColor: white,
    bg: #1d1a25, 
    bgInv: white,
    bg2:#5c1134,
    bg3:#4d1731,
    bg4:#531336,
    bgGrey:#201f22,
    bgTrans:#360c1eb8,
    bgSoft: #3e3a3a,
    colorSoft: lightgray,
    border: #444,
    btn:#761a51,
    btn2:#801547,
    btn3:#830f0f,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}
@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 960px) {
    @content;
  }
}

// .rightbar{
//   flex: 4;
//   @include mobile {
//     display: none;
//   }
// }