$themes: (
  light: (
    tColor: black,
    bg: white,
    bgInv: #1a0711,
    bg2:rgb(238, 221, 233),
    bg3:rgb(235, 209, 209),
    bg4:#53102f,
    bgSoft: rgb(238, 228, 232),
    bgGrey:#fcfcfc,
    bgTrans:#360913b8,
    colorSoft: #555,
    border: lightgray,
    btn:#761a51,
    btn2:#761a51,
    btn3:#ca1919,
  ),
  dark: (
    tColor: white,
    bg: #1d1a25, 
    bgInv: white,
    bg2:rgb(92, 17, 52),
    bg3:rgb(77, 23, 49),
    bg4:#531336,
    bgGrey:#201f22,
    bgTrans:#360c1eb8,
    bgSoft: rgb(62, 58, 58),
    colorSoft: lightgray,
    border: #444,
    btn:#761a51,
    btn2:#801547,
    btn3:#830f0f,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}
@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 960px) {
    @content;
  }
}

.rightbar{
  flex: 4;
  @include mobile {
    display: none;
  }
}