@import "../../style.scss";

.resources {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 17px 16px 0 16px;
    background-color: themed("bgSoft");
    flex-direction: column;
    // height: 82vh;

    @include mobile {
      height: 80vh;
      gap: 0;
    }
    h1 {
      color: themed("colorSoft");
      @include mobile {
        font-size: xx-large;
      }
    }
    .list {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
      overflow: scroll;
      justify-content: center;

      @include mobile {
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: nowrap;
      }
      &::-webkit-scrollbar {
        display: none;
      }

      .item {
        -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 25px;
        margin-left: 5px;
        color: themed("tColor");
        background: themed("bgGrey");
        border-radius: 10px;
        @include mobile {
          width: 75vw;
          margin: 0;
        }
      }
    }
  }
}
