@import "../../style.scss";

.login {
  height: 100vh;
  background: #be959be8;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 50%;
    display: flex;
    background: linear-gradient(#fff1f1, #f7e7e7);
    border-radius: 15px;
    min-height: 60%;
    overflow: hidden;
    position:relative;

    @include tablet {
      width: 80%;
    }
    @include mobile {
      flex-direction: column;
      width: 90%;
    }
    .left {
      flex: 1;
      background: linear-gradient(
          rgba(56, 1, 26, 0.556),
          rgba(71, 0, 46, 0.571)
        ),
        url("../../../public/loginbg.jpg") center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: #e3e2df;

      @include mobile {
        padding: 20px;
        flex-direction: row;
        gap: 10px;
      }

      img {
        width: 70%;
        @include tablet {
          width: 60%;
          margin-top: 13%;
        }
        @include mobile {
          flex: 1;
          margin-top: 0;
          width: 80px;
        }
      }

      p {
        @include mobile {
          flex: 3;
          font-size: 8px;
        }
      }
      .reg {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include mobile {
          flex: 2;
          gap: 10px;
        }

        span {
          font-size: 14px;
          @include mobile {
            font-size: 8px;
          }
        }
        button {
          width: 100px;
          padding: 10px;
          border: none;
          background-color: #fbcfe6;
          color: rgb(57, 4, 22);
          border-radius: 5px;
          font-weight: bold;
          cursor: pointer;

          @include mobile {
            width: 100%;
          }
        }
      }
    }
    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: center;

      ::placeholder {
        color: rgb(49, 46, 46);
        opacity: 1;
      }

      :-ms-input-placeholder {
        color: rgb(49, 46, 46);
      }

      ::-ms-input-placeholder {
        color: rgb(49, 46, 46);
      }
      h1 {
        color: #5c5c5b;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        input {
          border: none;
          border-bottom: 1px solid #5c5c5b;
          background: transparent;
          padding: 20px 10px;
        }
        .fac {
          display: block;
          position: relative;
          padding-left: 35px;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 22px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          font-size: 13px;
        }
        .fac input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }
        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 18px;
          width: 18px;
          border: 1px solid #c8b7c393;
          background-color: #ffffff;
        }
        .fac:hover input ~ .checkmark {
          background-color: #c8b7c393;
        }
        .fac input:checked ~ .checkmark {
          background-color: #532341;
        }
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }
        .fac input:checked ~ .checkmark:after {
          display: block;
        }
        .fac .checkmark:after {
          left: 6px;
          top: 2px;
          width: 4px;
          height: 9px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: #532341;
          color: rgb(255, 255, 255);
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
