@import "../../style.scss";

.events {
  @include themify($themes) {
    display: flex;
    flex-direction: column;
    background: themed("bgSoft");
    gap: 20px;
    height: 82vh;
    padding: 30px 20px;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    @include mobile {
      height: calc(100vh - 242px);
    }
    .event {
      -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      border-radius: 20px;
      background: themed("bg");
      width: 100%;
      height: 300px;
      display: flex;
      gap: 30px;
      align-items: center;

      @include mobile {
        width: 90%;
      }

      img {
        width: 250px;
        object-fit: cover;
        padding: 20px;
        height: 200px;
      }
      .eventDetails {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        color: themed("tColor");
        p {
          font-size: 30px;
        }
        span {
          font-size: 15px;
          color: themed("colorSoft");
        }
        .venue {
          font-size: 10px;
        }
        div {
          font-size: 12px;
          color: #272;
        }
      }
    }
    .newEvent {
      -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      border-radius: 20px;
      background: themed("bgGrey");
      width: 100%;
      padding: 30px;
      display: flex;
      gap: 30px;
      align-items: center;
      justify-content: center;
      color: themed("tColor");
    }
    .noData {
      color: themed("tColor");
      margin: auto;
      font-weight: 600;
    }
    .imagebox {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 999;
      img {
        height: 90%;
        object-fit: contain;
      }

      .close {
        position: absolute;
        top: 10px;
        right: 20px;
        border: none;
        background-color: transparent;
        padding: 5px;
        cursor: pointer;
        color: themed("tColor");
      }
    }
  }
}
