@import "../../style.scss";

.upload {
  @include themify($themes) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;

    .wrapper {
      margin: auto;
      width: 40%;
      height: 70%;
      background-color: themed("bg");
      padding: 20px;
      z-index: 999;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      position: relative;
      overflow: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
      @include tablet {
        width: 70%;
        height: 70%;
      }
      @include mobile {
        width: 100%;
        height: 100%;
      }
      h1 {
        color: themed("colorSoft");

        @include mobile {
          font-size: 20px;
        }
      }

      form {
        display: flex;
        width: 80%;
        gap: 20px;
        .inputs {
          display: flex;
          gap: 30px;
          .files {
            flex: 1;
          }
          .inputboxes {
            flex: 1;
          }
        }
      }

      .close {
        position: absolute;
        top: 10px;
        right: 20px;
        border: none;
        background-color: transparent;
        padding: 5px;
        cursor: pointer;
        color: themed("tColor");
      }
    }
  }
}
