@import "../../style.scss";

.comments {
  @include themify($themes) {
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
    .write {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 20px 0px;

      input {
        padding: 10px;
        width: 70%;
        border: 1px solid themed("border");
        background: transparent;
        color: themed("tColor");
        border-radius: 5px;
      }
      button {
        border: none;
        background: themed("btn");
        color: white;
        padding: 10px;
        cursor: pointer;
        border-radius: 3px;
      }
    }
    .comment {
      margin: 30px 0px;
      display: flex;
      justify-content: space-between;
        color: themed("tColor");
        gap: 20px;

      .info {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 3px;
        align-items: flex-start;

        span {
          font-weight: 500;
        }
        p {
          color: themed("colorSoft");
        }
      }
      .date {
        flex: 1;
        align-self: center;
        color: grey;
        font-size: 12px;
      }
    }
  }
}
