@import "../../style.scss";

.home {
  @include themify($themes) {
    background: themed("bgSoft");
    color:themed("textColorSoft") ;
    padding: 20px 70px;
    

    @include tablet {
      padding: 18px;
    }

    @include mobile {
      padding: 12px;
    }
    
  }
}
