@import "../../style.scss";

.profile {
  @include themify($themes) {
    background: themed("bgSoft");

    .images {
      width: 100%;
      height: 300px;
      position: relative;
      object-fit: cover;

      @include mobile {
        height: 250px;
      }
      .cover {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include mobile {
          height: 60%;
        }
      }
      .profilePic {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 200px;

        @include mobile {
          top: 50px;
        }
      }
    }
    .profileContainer {
      padding: 20px 70px;

      @include tablet {
        padding: 18px;
      }
      
      @include mobile {
        padding: 12px;
      }

      .uInfo {
        -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        border-radius: 20px;
        height: 170px;
        background: themed("bg");
        color: themed("textColor");
        padding: 50px;
        padding-top: 80px;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        @include mobile {
          flex-direction: column;
          height: 30vh;
          padding: 20px;
          gap: 20px;
        }

        .left {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 20px;

          @include mobile {
            flex-direction: row;
            gap: 30px;
          }

          .l1 {
            flex: 1;
            display: flex;
            align-items: center;
            gap: 20px;

            a {
              color: themed("textColorSoft");
            }
          }
        }
        .center {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;

          span {
            font-size: 30px;
            font-weight: bold;
          }
          .info {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 30px;

            .item {
              display: flex;
              align-items: center;
              font-weight: 500;
              gap: 5px;
              color: themed("textColorSoft");

              span {
                font-size: 12px;
              }
            }
          }
          button {
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            background: rgb(100, 37, 87);
            color: #fff;
            cursor: pointer;
          }
        }
        .right {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 10px;
        }
      }
    }
  }
}
