@import "../../style.scss";

.leftBar {
  @include themify($themes) {
    flex: 2;
    position: sticky;
    top: 111px;
    height: calc(100vh - 111px);
    overflow: scroll;
    background: themed("bg");
    color: themed("textColor");
    
    @include mobile{
      display: none;
    }
    &::-webkit-scrollbar {
      display: none;
    }

    .container {
      padding: 20px;
      hr {
        margin: 20px 0px;
        border: none;
        height: 0.4px;
        background-color: themed("border");
      }
      .menu {
        display: flex;
        flex-direction: column;
        gap: 20px;

        span {
          font-size: 12px;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 30px;
            height: 30px;
            border-radius: 50px;
            object-fit: cover;
          }
          span {
            font-size: 14px;
          }
        }
        .item {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 30px;
            height: 30px;
          }
          span {
            font-size: 14px;
          }
        }
      }
    }
  }
}
