@import "../../style.scss";

.leftBar {
  @include themify($themes) {
    flex: 3;
    position: sticky;
    top: 111px;
    height: calc(100vh - 111px);
    overflow: scroll;
    background: themed("bg");
    color: themed("tColor");

    @include mobile {
      display: none;
    }
    &::-webkit-scrollbar {
      display: none;
    }

    .container {
      padding: 20px;
      hr {
        margin: 20px 0px;
        border: none;
        height: 0.4px;
        background-color: themed("border");
      }
      .menu {
        display: flex;
        flex-direction: column;
        gap: 20px;

        span {
          font-size: 12px;
        }
        // .resCard {
        //   display: flex;
        //   flex-direction: column;
        //   border-radius: 30px;
        //   background: #bab;
        //   align-items: center;

        //   .top {
        //     display: flex;
        //     gap: 20px;
        //     padding: 15px;
        //     padding-bottom:5px ;

        //     .topItem {
        //       background: themed("bg2");
        //       width: 60px;
        //       height: 60px;
        //       border-radius: 50%;
        //     }
        //   }
        //   .bottom{
        //     display: flex;
        //     gap: 20px;
        //     padding: 15px;
        //     padding-top: 5px;

        //     .left{
        //       background: themed("bg2");
        //       width: 60px;
        //       height: 100px;
        //       border-radius: 20px;
        //     }
        //     .right{
        //       background: themed("bg3");
        //       width: 140px;
        //       height: 100px;
        //       border-radius: 20px;
        //     }
        //   }
        // }

      
        .item {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 30px;
            height: 30px;
          }
          span {
            font-size: 14px;
          }
        }
      }
    }
  }
}
