@import "../../style.scss";

.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    height: 80px;
    border-bottom: 1px solid themed("border");
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color: themed("textColor");
    z-index: 999;

    .left {
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        width: 60px;
        height: 50px;
        object-fit: cover;
      }

      .search {
        display: flex;
        align-items: center;
        border: 1px solid themed("border");
        border-radius: 5px;
        padding: 5px;
        gap: 10px;

        input {
          background: transparent;
          border: none;
          width: 300px;
          color: themed("textColor");

          @include mobile {
            display: none;
          }

          @include tablet {
            width: 200px;
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 20px;

      @include mobile {
        display: none;
      }

      .user {
        display: flex;
        align-items: center;
        font-weight: bold;
        gap: 5px;

        @include tablet {
          display: none;
        }

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}
