@import "../../style.scss";

.requests {
  @include themify($themes) {
    display: flex;
    flex-direction: column;
    background: themed("bg2");
    gap: 20px;
    height: 82vh;
    padding: 30px 20px;
    position: relative;

    @include mobile {
      height: calc(100vh - 242px);
    }
    .request {
      -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      border-radius: 20px;
      background: themed("bg");

      .container {
        padding: 20px;

        .user {
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: themed("tColor");
          position: relative;

          .userInfo {
            display: flex;
            gap: 20px;

            img {
              width: 40px;
              height: 40px;
              object-fit: cover;
              border-radius: 50%;
            }
            .detail {
              display: flex;
              flex-direction: column;

              .name {
                font-weight: 500;
              }
              .date {
                color: themed("colorSoft");
                font-size: 12px;
              }
            }
          }
          button {
            position: absolute;
            top: 30px;
            right: 0;
            border: none;
            border-radius: 3px;
            background: themed("btn3");
            padding: 5px;
            color: white;
            cursor: pointer;
          }
        }
        .content {
          margin-top: 10px;

          img {
            width: 100%;
            max-height: 500px;
            object-fit: cover;
            border-radius: 3px;
          }
          p {
            font-size: 16px;
            color: themed("tColor");
            font-weight: 550;
            padding: 10px;
          }
        }
        .action {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          border-radius: 0 0 7px 7px;
          overflow: hidden;

          button {
            width: 50%;
            height: 40px;
            border: none;
            background: #aa0c04;
            color: #fff;

            &:last-child {
              background: #177e07;
            }
          }
        }
      }
    }
    .noData{
        margin: auto;
      color: themed("tColor");
      font-weight: 600;
    }
  }
}
